sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-websupport

joblib==0.12.2
PyPrind

# copied from setup.py
numpy
scipy
python_dateutil
cloudpickle
dill
hachiko
imageio
more-itertools
numpy
pillow
params-proto
requests
requests-futures
ruamel.yaml
sanic
sanic-cors
termcolor
typing
urllib3
# sphinx-readable-theme
guzzle_sphinx_theme
